.title {
	padding: 10px;
	cursor: move;
}
	
.connect {
	width: 100%;
	height: 20px;
	background-color: white;
	cursor: pointer;
}

.item {
	position: absolute;        
	border: 1px solid black;
	background-color: #ddddff;
}

#container {
	border: 1px solid gray;
	width: 500px;
	height: 500px;
}

